{%extends 'base.html'%}

{%block title%}
homepage

{%endblock%}

<br>
<br>

{%block content%}

<header>
    <div class="container-fluid landing-page">
        <div class="jumbotron vertical-center">
            <h1>GREY_T INVENTORIES MANAGEMENT<span class="eze"></span></h1>
            <p><span class="eze">&#9679;</span> Products<span class="eze">&#9679;</span>  Services <span class="eze">&#9679;</span> Offers</p>
        </div>
    </div>
</header>




{%endblock%}

{%block footer%}



{%endblock%}