{%extends 'base.html'%}

{%block title%}
Inventories
{%endblock%}

{%block content%}


<div class="container" style="margin-top: 30px;margin-bottom: 30px;">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInventories">
        ADD NEW INVENTORY
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addInventories" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD INVENTORY</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- name -->
                    <div class="NAME">
                        <label for="Name"></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="name">
                        <small id="emailHelp" class="form-text text-muted">NAME</small>
                    </div>

                    <!-- type -->
                    <div class="TYPE">
                        <label for="Type"></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="type">
                        <small id="emailHelp" class="form-text text-muted">TYPE</small>
                    </div>
                    <!-- .buying price.. -->

                    <div class="BUYING PRICE">
                        <label for="Buying Price"></label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="buying price">
                        <small id="emailHelp" class="form-text text-muted">BUYING PRICE</small>
                    </div>

                    <!-- selling price -->
                    <div class="SELLING PRICE">
                        <label for="Selling Price"></label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="selling price">
                        <small id="emailHelp" class="form-text text-muted">SELLING PRICE</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">type</th>
            <th scope="col">B.p</th>
            <th scope="col">S.p</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStock">
                    Add Stock
                </button>

                <!-- Modal -->
                <div class="modal fade" id="addStock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Stock</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Stock</label>
                                        <input type="number" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter stock">
                                        <small id="emailHelp" class="form-text text-muted"></small>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MakeSale">
                    Add Sale
                </button>

                <!-- Modal -->
                <div class="modal fade" id="MakeSale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">MakeSale</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Make Sale</label>
                                        <input type="number" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                        <small id="emailHelp" class="form-text text-muted"></small>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Make Sale</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning">ViewSale</button>
                <button type="button" class="btn btn-info">EditInventory</button>
                <button type="button" class="btn btn-danger">DeleteInventories</button>

            </td>
        </tr>


    </tbody>
</table>


{%endblock%}