{%extends 'base.html'%}

{%block title%}

Viewsales

{%endblock%}

{%block content%}


<br>

<table class="table table-sm">
    <thead>
      <h2>Sales of {{inv_name.name}}</h2>
      <tr>
        <th scope="col"></th>
        <th scope="col">Quantity</th>
        <th scope="col">Sold at</th>
        
      </tr>
    </thead>

    <tbody>
        {%set counter = namespace(value=1)%}
        {%for each in sales%}

      <tr>

        <th scope="row">{{counter.value}}</th>
        <td> {{each.quantity}}</td>
        <td> {{each.created_at}}</td>
        
      </tr>
      {%set counter.value = counter.value+1%}
      {%endfor%}

    </tbody>
  </table>

{%endblock%}